body {
height: 100vh;
display: flex;
flex-direction: column;   
}
footer, header {
  flex-shrink: 0;
  padding: 16px;
  text-align: center;
}
header {
  background: #00CED1;
  border-top: 1px solid rgba (0,0,0,0.3);
}
footer {
  background: #ffae90;
  border-top: 1px solid rgba (0,0,0,0.3);
}
main {
  display: flex;
  flex: auto; 
}
aside {
  flex: 1;
  background: #4fcbbb;
}
article {
  flex: 3;
  background: #2494cc;
}


