.container {
height: 100vh;
display: flex;
flex-direction: column;   
}
.body {
  display: flex;
  flex-direction: column;
}
.container_header,.container_footer {
  flex-shrink: 0;
  padding: 16px;
  text-align: center;
}
